
azure-cognitiveservices-speech==1.20.0
backports.csv==1.0.7
beautifulsoup4==4.10.0
cachetools==5.0.0
certifi==2021.10.8
chardet==3.0.4
click==8.0.4
clint==0.5.1
colorama==0.4.4
contextlib2==21.6.0
cycler==0.11.0

Flask==2.0.3
flatbuffers==2.0
fonttools==4.29.0

internetarchive==1.8.5
itsdangerous==2.1.0
Jinja2==3.0.3
jsonable==0.3.1
jsonpatch==1.32
jsonpointer==2.2
jsonschema==4.4.0
para==0.0.8
patool==1.12
Pillow==9.0.0
pipreqs==0.4.11
prettytable==3.0.0
protobuf==3.19.3
psutil==5.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycountry==22.1.10
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
pyunpack==0.2.2
yarg==0.1.9
zipp==3.7.0
